*{
    box-sizing: border-box;
}
body{
    background: rgba(0, 139, 253, 0.644);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap:10px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    flex:1;
}
.loginform{
    display: flex;
    flex-direction: column;
    gap:10px;
    /* background: radial-gradient(farthest-corner at 0% 0%, rgba(255, 254, 251, 0.855) 10%, rgb(2, 162, 255) 90%); */
}
.loginform  input{
    width: 235px;
    border: none;
    border-radius: 5px;
    padding:5px 10px;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Dongle', sans-serif;
    transition:.2s;
    
    box-shadow: 0 2px 5px -2px black;
    background: radial-gradient(farthest-corner at 0% 0%,rgba(255, 254, 251, 0.855) 10%, transparent 200%);
}

.loginform input:focus{
    outline: none;
    transform:scale(1.1);
    
    box-shadow: 0 15px 15px -15px black;
}
.google_button{
    padding: 5px 15px;
    border-radius: 8px;
    border:1px solid rgb(164, 207, 224);
    transition: .2s;
    font-size: 2em;
    display: flex;
    background: radial-gradient(farthest-corner at 0% 0%,rgba(255, 254, 251, 0.855) 10%, transparent 100%);
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    
    font-family: 'Dongle', sans-serif;
}
.googlelogo{
    height:30px;
    margin-right: 5px;
}
.google_button:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 15px -15px black;
    background: radial-gradient(farthest-corner at 0% 0%,rgb(248, 222, 174) 10%, transparent 150%);
}
.google_button:focus{
    outline: none;
    transform: scale(1.1);
    box-shadow: 0 15px 15px -15px black;
    background: radial-gradient(farthest-corner at 0% 0%,rgb(248, 222, 174) 10%, transparent 150%);
}