.MessangerMainframe {
    width: 100%;
    height: 100vh;
    border-radius: 30px;
    backdrop-filter: blur(1px);
    overflow: auto;
    padding: 10px;
}

.innerFrame {
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 248, 0.13);
    border-radius: 30px;
}

.innerFrame h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}